@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap');

* { margin: 0; padding: 0; box-sizing: border-box; }
ul { list-style: none; }
a { text-decoration: none; color: inherit; }

/* [PC] 1025px �̻� */
.header {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 320px;
  background: transparent;
  border-bottom: 1px solid var(--color-main);
  top: 0; z-index: 1000;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px;
    gap: 10px;
}

.logo a {
    display: block;
    width: 68px;
    height: 40px;
}

.logo-svg {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}

.nav-list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav-list li {
    display: flex;
    width: 170px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.nav-list a {

  font-family: 'Roboto', sans-serif;
  font-weight: var(--fw-600);
  font-size: 20px;
  color:var(--color-main);


  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.utils, .pc-utils{
    display: flex; 
    gap: 32px;
    align-items: center;
}


.util-btn {
width: 24px; 
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;        
  align-items: center;
  justify-content: center;
}
.mobile-menu-btn { display: none; }

/* --- [�º���] 1024px ���� --- */
@media (max-width: 1024px) {
  .header {
    gap: 0; 
    justify-content: space-between; 
    padding: 0 40px;
  }

  /* �߾� �޴� ����� �ܹ��� �޴��� ��ü */
  .nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100vh;
    background: transparent;
    padding: 100px 40px;
    transition: 0.4s;
  }

  /* pcȭ�鿡���� ���̴� �����ܵ�*/
  .pc-utils { 
    display: none; 
  }
  
  .nav-list { flex-direction: column; gap: 30px; }
  
  .mobile-menu-btn { display: block; }

}

/* --- [�����] 360px ���� --- */
@media (max-width: 360px) {
  .header {
    height: 45px; /* ���� �ణ ���� */
    padding: 0 15px;
  }

  .logo img { height: 24px; } /* �ΰ� ��� */

  /* �޴������� �˻��� �ܹ��Ÿ޴��� ����� ���� */
  .pc-utils { display: none; }
  
  .nav { width: 100%; } /* ��ü ȭ�� �޴� */
  
  .nav-list a { font-size: 18px; }
}
